.file-list {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__headers {
    text-align: center;
    display: flex;
    width: 100%;
    height: auto;
    border-right: 2px solid #f7d66c;
    border-left: 2px solid #f7d66c;
    border-bottom: 2px solid #f7d66c;
  }

  &__file-name {
    width: 70%;
    background-color: #66ffbf;
  }

  &__user {
    width: 12%;
    border-left: 2px solid #f7d66c;
    background-color: #5bfafa;
  }

  &__date {
    width: 13%;
    border-left: 2px solid #f7d66c;
    background-color: #f8a8ff;
  }

  &__dell {
    width: 5%;
    background-color: #ffa8a8;
  }

  &__container {
    width: 100%;
    display: grid;
    margin-top: 10px;
  }
}

.file-item {
  display: flex;
  height: auto;
  align-items: center;
  width: inherit;
}
